<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Add Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let recipe of recipes">
        <div class="float-left">
          <h4>{{ recipe.name }}</h4>
          <p>{{ recipe.description }}</p>
        </div>
        <img [src]="recipe.imagePath" alt="Recipe image" class="float-right img-fluid" width="75px">
      </a>
    </div>
  </div>
</div>
<app-recipe-item></app-recipe-item>