<div class="row">
  <div class="col-md-6">
    <form class="row">
      <div class="form-group col-md-8">
        <label for="ingredientname">Name</label>
        <input type="text" class="form-control" id="ingredientname" aria-describedby="ingredientname" placeholder="">
      </div>
      <div class="form-group col-md-4">
        <label for="ingredientamount">Amount</label>
        <input type="number" class="form-control" id="ingredientamount" placeholder="">
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
    </form>
  </div>
</div>